.grid--p {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5em 1.5em;
    padding: 1em 0.5em; /* Padding 1em in altezza e 0.5em in larghezza */
    max-width: 1200px; /* Massima larghezza della griglia */
    margin: 1em auto; /* Centra la griglia nella pagina */
    word-wrap: balance;
}

.titolo--p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / span 1;
    background-color: var(--accent-turquoise); /* Colore arancione */
    min-height: 150px;
    border-radius: .5rem;
    padding: 1.5em 1em;
    /* border: 2px solid var(--gray); */
    color: #171717;
    text-align: center;
    margin-bottom: 1em;   
}

.titolo--p h1 {
    margin-bottom: 1rem;
}

.immagine--p img {
    border-radius: .5rem;
    /* border: 2px solid var(--gray); */
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.immagine--descrizione {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: .5rem;
}

.immagine--descrizione p:first-child {
    grid-column: 1 / span 2;
    font-weight: 700;
}

.anno {
    justify-self: right;
    opacity: 50%;
}

.footer--alt {
    padding: 1.25rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.tema--footer {
    opacity: 50%;
}

/* Lavori */

.grid--p--1,
.grid--p--2,
.grid--p--3,
.grid--p--4,
.grid--p--5,
.grid--p--6 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1em 0.5em;
    max-width: 1200px;
    margin: 1em auto 2em auto;
    word-wrap: balance;
}

.grid--p--1,
.grid--p--2,
.grid--p--3,
.grid--p--4,
.grid--p--5,
.grid--p--6 > * {
    grid-template-columns: minmax(0, 1fr);
    width: 100%;
}

.descrizione--p--limoncello,
.descrizione--p--biennale,
.descrizione--p--caccia,
.descrizione--p--quattrocanti,
.descrizione--p--architettura {
    border-radius: .5rem;
    border: 2px solid var(--gray);
    padding: 2em 1em;
}

.nome--p {
    margin-bottom: 1rem;
    font-size: 2rem;
}


.dettagli {
    font-weight: 700;
    font-style: italic;
    margin-bottom: .5rem;
}

.anno--p--1 {
    opacity: 50%;
    margin-bottom: 1.5rem;
}

.card--p--img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: 2px solid var(--gray);

}

.img--p--1--limoncello,
.img--p--1--biennale,
.img--p--1--caccia,
.descrizione--p--quattrocanti,
.img--p--1--architettura {
    grid-row: 1;
    grid-column: 1 / span 1;
}

.immagine--p-limoncello {
    filter: hue-rotate(90deg);
}




@media screen and (min-width: 600px) {
    .grid--p,
    .grid--p--6 {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        padding: 2em; /* Padding 1em in altezza e 0.5em in larghezza */
    }
    
    .grid--p,
    .grid--p--6 > * {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
    }

    .titolo--p,
    .titolo--p--architettura {
        padding: 2em;
        text-align: left;
        flex-direction: row;
        grid-column: 1 / span 2;
    }

    .titolo--p h1 {
        margin-right: 1em;
    }

    .immagine--p img {
        transition: all .2s ease-in;
    }

    .immagine--p img:hover {
        filter:brightness(0.75);
        transition: all .15s ease-out;
        border: 5px solid var(--gra-y);
        transform: scale(1.05);
    }

}

@media screen and (min-width: 800px) {
    /* Lavori */

    .grid--p--1 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--1 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .img--p--1--limoncello {
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .descrizione--p--limoncello {
        padding: 2em;
        grid-row: 1;
        grid-column: 3 /span 1;  
    }

    .img--p--2--limoncello {
        grid-row: 1;
        grid-column: 1 / span 2;
        height: auto;
    }

    /* Biennale */

    .grid--p--2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--2 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .img--p--1--biennale {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
        width: 100%;
        
    }

    .descrizione--p--biennale {
        padding: 2em;
        grid-row: 2 / span 1;
        grid-column: 4 /span 1;
        
    }

    .img--p--2--biennale {
        grid-row: 1 / span 2;
        grid-column: 1 / span 3;

    }

    /* Caccia al Rifiuto */

    .grid--p--3 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--3 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .img--p--1--caccia {
        grid-row: 1 / span 1;
        grid-column: 1 / span 4;
        width: 100%;
        
    }

    .descrizione--p--caccia {
        padding: 2em;
        grid-row: 2 / span 1;
        grid-column: 1 /span 1;
        
    }

    .img--p--2--caccia {
        grid-row: 2 / span 1;
        grid-column: 2 / span 3;

    }

    /* I Quattro Canti */

    .grid--p--4 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--4 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .img--p--1--quattrocanti {
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .descrizione--p--quattrocanti {
        padding: 2em;
        grid-row: 1;
        grid-column: 3 /span 1;  
    }

    .img--p--2--quattrocanti {
        grid-row: 1;
        grid-column: 1 / span 2;
        height: auto;
    }

    /* Architettura 110 */

    .grid--p--6 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .img--p--6 > * {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        width: 100%; 
    }

    .descrizione--p--architettura {
        padding: 2em;
        grid-row: 2 / span 1;
        grid-column: 4 / span 1 ;
    }

    .img--p--1--architettura {
        grid-row: 1 / span 1;
        grid-column: 1 / span 4 ;
    }

    .img--p--2--architettura {
        grid-row: 2 / span 1;
        grid-column: 1 / span 3 ;
    }

}

@media screen and (min-width: 1000px) {
    .grid--p--1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--1 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .img--p--1--limoncello {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }

    .descrizione--p--limoncello {
        grid-row: 2 / span 1;
        grid-column: 3 /span 2;
        
    }

    .img--p--2--limoncello {
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
        height: auto;
    }

    .grid--p--4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        padding: 2em;
    }

    .grid--p--4 > * {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .img--p--1--quattrocanti {
        
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
        height: auto;
    }

    .descrizione--p--quattrocanti {
        grid-row: 2 / span 1;
        grid-column: 3 /span 2;
        
    }

    .img--p--2--quattrocanti {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }
}



@media screen and (min-width: 1100px) {
    .grid--p {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid--p > * {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .titolo--p {
        grid-column: 1 / span 3;
    }

    .titolo--p p {
        margin-right: 2em;
    }
}